@using DSComponents.Enums

<div class="dsccheckbox" @onclick:stopPropagation>
	<CascadingValue Value="@Config">
		<div class="@((Config.Label?.Position == Position.Top) ? "dsccheckbox-block" : "dsccheckbox-checkbox") @((Config.Error) ? " error" : "")">
			@switch(Config.CheckboxType)
			{
				case CheckboxType.Switch:
					@switch(Config.Label?.Position)
					{
						case Position.Top:
							<div class="checkbox-centered-wrapper">
								<DSCLabel Config="@Config.Label" />

								<span class="dsccheckbox-switch-track" @onclick="onCheck">
									<span class="dsccheckbox-switch@((_checked) ? " checked" : "") @_bg"></span>
								</span>
							</div>
							break;
						case Position.Left:
							<DSCLabel Config="@Config.Label" />

							<span class="dsccheckbox-switch-track" @onclick="onCheck">
								<span class="dsccheckbox-switch@((_checked) ? " checked" : "") @_bg"></span>
							</span>
						break;
						case Position.Right:
							<span class="dsccheckbox-switch-track" @onclick="onCheck">
								<span class="dsccheckbox-switch@((_checked) ? " checked" : "") @_bg"></span>
							</span>

							<DSCLabel Config="@Config.Label" />
							break;
					}
					break;
				case CheckboxType.Icon:
					@switch(Config.Label?.Position)
					{
						case Position.Top:
							<div class="checkbox-centered-wrapper">
								<DSCLabel Config="@Config.Label" />

								<span class="dsccheckbox-icon cursor-pointer" @onclick="onCheck">
									<i class="checkbox-icon@((_checked) ? " checked" : "") @_image @Size"></i>
								</span>
							</div>
							break;
						case Position.Left:
							<DSCLabel Config="@Config.Label" />

							<span class="dsccheckbox-icon cursor-pointer" @onclick="onCheck">
								<i class="checkbox-icon@((_checked) ? " checked" : "") @_image @Size"></i>
							</span>
							break;
						case Position.Right:
							<span class="dsccheckbox-icon cursor-pointer" @onclick="onCheck">
								<i class="checkbox-icon@((_checked) ? " checked" : "") @_image @Size"></i>
							</span>

							<DSCLabel Config="@Config.Label" />
							break;
					}
					break;
				case CheckboxType.Image:
					@switch(Config.Label?.Position)
					{
						case Position.Top:
							<div class="checkbox-centered-wrapper">
								<DSCLabel Config="@Config.Label" />

								<span class="cursor-pointer" @onclick="onCheck">
									<span class="dsccheckbox-image@((_checked) ? " checked" : "") @_image @Size"></span>
								</span>
							</div>
							break;
						case Position.Left:
							<DSCLabel Config="@Config.Label" />

							<span class="cursor-pointer" @onclick="onCheck">
								<span class="dsccheckbox-image@((_checked) ? " checked" : "") @_image @Size"></span>
							</span>
							break;
						case Position.Right:
							<span class="cursor-pointer" @onclick="onCheck">
								<span class="dsccheckbox-image@((_checked) ? " checked" : "") @_image @Size"></span>
							</span>

							<DSCLabel Config="@Config.Label" />
							break;
					}
					break;
				default:
					@if(Config.Label?.Position == Position.Left || Config.Label?.Position == Position.Top)
					{
						<DSCLabel Config="@Config.Label" />
					}
					<div class="checkbox @_bg" name="@Config.Name" @onclick="onCheck">
						<div class="dsccheckbox-checkmark@((_checked) ? " checked" : "")"></div>
					</div>
					@if(Config.Label?.Position == Position.Right)
					{
						<DSCLabel Config="@Config.Label" />
					}
					break;
			}
		</div>
	</CascadingValue>
</div>

@code {
	/// <summary>
	/// Configuration class for the checkbox component
	/// </summary>
	[Parameter]
	public DSCConfig Config { get; set; }
	/// <summary>
	/// Background image/icon to use when checkbox is not checked.
	/// </summary>
	[Parameter]
	public string Unchecked { get; set; }
	/// <summary>
	/// Background image/icon to use when checkbox is checked
	/// </summary>
	[Parameter]
	public string Checked { get; set; }
	/// <summary>
	/// Size of the image or icon to use
	/// </summary>
	[Parameter]
	public string Size { get; set; }
	/// <summary>
	/// Callback event
	/// </summary>
	[Parameter]
	public EventCallback<bool> CheckedCallback { get; set; }

	private string _bg, _image;
	private bool _checked;

	protected override void OnInitialized()
	{
		@switch(Config.Label.Position)
		{
			case Position.InlineTop:
			case Position.InlineTopLeft:
			case Position.InlineTopRight:
				throw new Exception($"The label position {Config.Label.Position} is not valid for this component type.");
				break;
		}

		if((Config.CheckboxType == CheckboxType.Image || Config.CheckboxType == CheckboxType.Icon) && (Unchecked is null && Checked is null))
			throw new Exception($"The checkbox type {Config.CheckboxType} requires an image/icon.");

		base.OnInitialized();
	}

	protected override void OnParametersSet()
	{
		_bg = (Config.Disabled)
			? "disabled"
			: "dsc-background";

		setImage();

		base.OnParametersSet();
	}

	private void onCheck()
	{
		if (Config.Disabled)
			return;

		_checked = !_checked;

		setImage();

		CheckedCallback.InvokeAsync(_checked);
	}

	private void setImage() => _image = (_checked)
		? Checked
		: Unchecked;
}