@using DSComponents.Input.Enums
@using DSComponents.Input.Models

@if(Config != null)
{
	@switch(Config.Position)
	{
		case Position.InlineTop:
			<div class="center top">
				<div class="label-inline @TextColor @BGColor">
					<span class="label">@Config.Label</span>
				</div>
			</div>
			break;
		case Position.InlineTopLeft:
			<div class="top left">
				<div class="label-inline @TextColor @BGColor">
					<span class="label">@Config.Label</span>
				</div>
			</div>
			break;
		case Position.InlineTopRight:
			<div class="top right">
				<div class="label-inline @TextColor @BGColor">
					<span class="label">@Config.Label</span>
				</div>
			</div>
			break;
	}
}

@code {
	[Parameter]
	public DSCLabelConfig Config { get; set; }
	[Parameter]
	public string TextColor { get; set; }

	[Parameter]
	public string BGColor { get; set; }
}
