@using DSComponents.Input.Enums
@using DSComponents.Input.Models

@if(Config != null)
{
	@switch(Config.Position)
	{
		case LabelPosition.InlineTop:
			<div class="label-inline top center @TextColor @BGColor">
				<span class="label">@Config.Label</span>
			</div>
			break;
		case LabelPosition.InlineTopLeft:
			<div class="label-inline top left @TextColor @BGColor">
				<span class="label">@Config.Label</span>
			</div>
			break;
		case LabelPosition.InlineTopRight:
			<div class="label-inline top right @TextColor @BGColor">
				<span class="label">@Config.Label</span>
			</div>
			break;
	}
}

@code {
	[Parameter]
	public DSCLabelConfig Config { get; set; }
	[Parameter]
	public string TextColor { get; set; }

	[Parameter]
	public string BGColor { get; set; }
}
