@using System.Timers
@using DSComponents.Enums
@using DSComponents.Input.Models
@using System.Text.RegularExpressions
@inject IDSCService DSCService

<div class="dscnumber" @onclick:stopPropagation>
	<CascadingValue Value="@Config">
		@switch(Config.Label?.Position)
		{
			case Position.Top:
			case Position.Left:
				@if(!HideLabel)
				{
					<DSCLabel Config="@Config.Label" Disabled="@Config.Disabled" />
				}

				<div class="dscnumber-number dsc-text @_bg @((Config.Error) ? "error" : "")">
					<input type="number" class="dscnumber-content @((HideSpin) ? "hide-spin" : "")" placeholder="@Config.Placeholder" name="@Config.Name" value="@_value" min="@Config.Minimum" maxlength="@Config.Maximum" @onchange="onInput" @oninput="onInput" @onfocusin="onFocusIn" disabled="@Config.Disabled" />
				</div>
				break;
			case Position.Right:
				<div class="dscnumber-number dsc-text @_bg @((Config.Error) ? "error" : "")">
					<input type="number" class="dscnumber-content @((HideSpin) ? "hide-spin" : "")" placeholder="@Config.Placeholder" name="@Config.Name" value="@_value" min="@Config.Minimum" maxlength="@Config.Maximum" @onchange="onInput" @oninput="onInput" @onfocusin="onFocusIn" disabled="@Config.Disabled" />
				</div>

				@if(!HideLabel)
				{
					<DSCLabel Config="@Config.Label" Disabled="@Config.Disabled" />
				}
				break;
			case Position.InlineTop:
			case Position.InlineTopLeft:
			case Position.InlineTopRight:
				<div class="dscnumber-number dsc-text @_bg @((Config.Error) ? "error" : "")">
					@if(!HideLabel)
					{
						<DSCLabel Config="@Config.Label" Disabled="@Config.Disabled" />
					}

					<input type="number" class="dscnumber-content @((HideSpin) ? "hide-spin" : "")" placeholder="@Config.Placeholder" name="@Config.Name" value="@_value" min="@Config.Minimum" maxlength="@Config.Maximum" @onchange="onInput" @oninput="onInput" @onfocusin="onFocusIn" disabled="@Config.Disabled" />
				</div>
				break;
		}
	</CascadingValue>
</div>

@code{
	[Parameter]
	public DSCConfig Config { get; set; }
	[Parameter]
	public bool HideLabel { get; set; }
	[Parameter]
	public bool HideSpin { get; set; }
	[Parameter]
	public EventCallback<object> OnInput { get; set; }

	private Timer _timer;
	private object _value;
	private string _bg, _error;

	protected override void OnInitialized()
	{
		if(Config.Timeout is not null && !OnInput.HasDelegate)
			throw new Exception("A timeout call back is required when providing a timeout value.");

		base.OnInitialized();
	}

	protected override void OnParametersSet()
	{
		var configs = DSCService.DSCInputConfigs.ToList();

		if (!configs.Contains(Config))
			configs.Add(Config);

		DSCService.DSCInputConfigs = configs;

		if(Config.Timeout is not null)
		{
			_timer = new Timer();
			_timer.Interval = Config.Timeout.GetValueOrDefault();
			_timer.Elapsed += (x, y) => timeout();
			_timer.AutoReset = false;
		}

		_bg = (Config.Disabled)
			? "disabled"
			: "dsc-background";

		Config.Minimum = Config.Minimum ?? 0;
		Config.Maximum = Config.Maximum ?? 524288;

		base.OnParametersSet();
	}

	private void onInput(ChangeEventArgs val)
	{
		_timer?.Stop();
		Config.Error = false;

		try
		{
			object value = Config.NumericType switch
			{
				NumericType.Int => int.Parse(val.Value?.ToString()),
				NumericType.Decimal => decimal.Parse(val.Value?.ToString()),
				NumericType.Double => double.Parse(val.Value?.ToString()),
				NumericType.Long => long.Parse(val.Value?.ToString()),
				_ => int.Parse(val.Value?.ToString())
			};

			_value = value;
		}
		catch(Exception ex)
		{
			_value = "";
			Config.Error = true;
			_error = ex.Message;
		}

		setError();

		if(_timer is null)
			OnInput.InvokeAsync(_value);
		else
			_timer.Start();
	}

	private void onFocusIn() => setError();

	private void setError(){ }

	//private void setError() => Config.Error = ((Config.Minimum is not null && _value < Config.Minimum) 
	//	|| (Config.Maximum is not null && _value > Config.Maximum));

	private void timeout() => OnInput.InvokeAsync(_value);
}